
/** 
  Credits to https://www.w3schools.com/howto/howto_css_about_page.asp for the css 
  of this about-us page!
**/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    /* background-color: rgb(66, 122, 161); */
    background-color: rgb(235, 242, 250);
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;

    background-color: rgb(66, 122, 161);
    /* background-color: rgb(235, 242, 250); */
  }
  

  .about-section {
    padding: 50px;
    text-align: center;
    background-color: rgb(5, 102, 141);
    color: white;
  }
  
  .row {
    background-color: rgb(235, 242, 250);
      /* background-color: rgb(66, 122, 161); */

      color: rgb(235, 242, 250);
  }

  .team-header {
    text-align:center;
    /* background-color: rgb(66, 122, 161); */
    background-color: rgb(235, 242, 250);
    color: rgb(5, 102, 141);
  }

  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: lightcyan;
  }
  
  /** REMOVE the "display:none" on line 73 to reveal button **/
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    display: none;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }

  @media only screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }

  }