#content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
}

#title {
    grid-area: 1/ 1/ span 1/ span 1;
    background-color:rgb(103, 148, 54);
    color: white;
    font-size: 2.2em;
    text-align: center;
}

#body {
    grid-area: 2/ 1/ span 1/ span 1;
    background-color: white;
    color: rgb(103, 148, 54);
}

#body > b {
    padding: 5px 0 2px 5px;
    margin: 0px;
    font-size: 2em;
}

#body > p {
    padding: 5px 0 2px 5px;
    margin: 0px;
    color: black;
}

#body > div {
    padding: 5px 0 2px 5px;
    margin: 0px;
    color: black;
}

.anchor-parent > a {
    color: white;
    display: block;
}

#TOC {
    color:white;
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: white;
}
a:hover {
    color: black;
}


/** 
    credit for html, css, and js related to "return to top button" functionality
    goes to https://www.w3schools.com/howto/howto_js_scroll_to_top.asp
    --> lines 9 through 59 through 98
**/

  #toTopBtn {
    position: fixed;
    bottom: 15%;
    right: 0%;
    z-index: 98;
    padding: 19px;
    color: rgb(200, 202, 62);
}

.js .cd-top--fade-out {
    opacity: .5
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    background-color: hsla(5, 76%, 62%, .8);
    background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
}

#img-compost {
    max-width: 100%;
    height: auto;
}