.choice-container {
    display: flex;
    margin-bottom: 0.rem;
    width: 100%;
    font-size: 0.8rem;
    border: 0.001rem solid rgb(86, 165, 235, 0.25);
    background-color: white;
  }
  
  .choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #32CD32;;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #32CD32;
    color: white;
  }
  
  .choice-text {
    padding: 0.5rem;
  }