#content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
}

#title {
    grid-area: 1/ 1/ span 1/ span 1;
    background-color:rgb(103, 148, 54);
    color: white;
    font-size: 2.2em;
    text-align: center;
}

#body {
    grid-area: 2/ 1/ span 1/ span 1;
    background-color: white;
    color: rgb(103, 148, 54);
}

#body > b {
    padding: 5px 0 2px 5px;
    margin: 0px;
    font-size: 2em;
}

#body > p {
    padding: 5px 0 2px 5px;
    margin: 0px;
    color: black;
}

.anchor-parent > a {
    color: white;
    display: block;
}

#TOC {
    color:rgb(0, 0, 0);
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: rgb(248, 248, 248);
}
a:hover {
    color: black;
}

.credit a:link {
    color: blue;
}

.credit a:visited {
    color: blue;
}